<ul class="navbar-nav mr-auto mt-2 mt-lg-4"></ul>
<ul class="navbar-nav mr-auto mt-2 mt-lg-2"></ul>

<nav class="navbar navbar-expand-lg  bg-white">
  <div class="container">
    <div class="collapse navbar-collapse " id="kutu">
      <font face="COURİER" routerLink="products" size="6" color="#F57C00">HEMENAL.COM</font>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-3"></ul>
      <div class="text-muted">
        <button *ngIf="!isAuthenticated()"   class="btn btn-link btn-wrapper" id="button1" style="vertical-align:middle"
          type="button" routerLink="login">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>
          Giriş Yap
        </button>
      </div>
      <div>
        <button type="button" id="button1" class="btn btn-link btn-wrapper" routerLink="favorite">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart"
            viewBox="0 0 16 16">
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
          </svg>
          Favorilerim
        </button>
        <button type="button" id="button1" routerLink="products/cartItem" class="btn btn-link btn-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
          Sepetim</button>
      </div>
      <div class="btn-group">
        <button type="button" id="button1" *ngIf="checkAdminRole()" class="btn btn-link btn-wrapper dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-person-bounding-box" viewBox="0 0 16 16">
            <path
              d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          </svg>
          {{authService.name}} {{authService.surname}}</button>
        <ul id="button" color="btn-warning" class="dropdown-menu">
          <li><a class="dropdown" routerLink="user">Hesap Bilgilerim</a></li>
          <li><a class="dropdown-item" routerLink="cart/{{authService.userId}}"  href="#">Ürünlerim</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item"  href="#" (click)="refresh()" (click)="logOut()">Çıkış Yap</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<app-category></app-category>
