#button1 {
    border-radius: 20px;
    padding: 7px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #fd9731; /*Carrot*/

}

#button1:active {

    background-color: #fd9731; /*Carrot*/
  
    box-shadow: 0 5px #666;
  
    transform: translateY(4px);
  }
  .container {
    max-width: 960px;
  }
  #kutu{
      width: 400px;
  }
  #kutu1{
    width: 1000px;
    text-align: center;
}