<ul></ul>
<div  class="center"  id="center">
    <mdb-carousel [isControls]="true"   class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="col-md-6"   *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1">
                    <mdb-card-img [src]="card.img" routerLink="dıscounts"   width="500" height="600"  alt="Girl in a jacket"></mdb-card-img>
                </mdb-card>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>